* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-link:hover {
  color: #0056b3;
  text-decoration: none;
}
.btn-link.focus,
.btn-link:focus {
  text-decoration: none;
  box-shadow: none;
}
